.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
}

.content {
  display: flex;
  gap: 60px;
}

.content_left {
  width: 320px;
}

.content_right {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}
