.header {
  display: flex;
  align-items: center;
gap: 112px;
}

.header_list {
  display: flex;

}

.header_list_item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.btn {
  border: none;
  background-color: transparent;
  color: inherit;
}

.btn_wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.btn_wrapper:last-child {
  margin-left: auto;
}