.burger_constructor {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 50%;
}

.burger_constructor_top {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.burger_constructor_bottom {
  display: flex;
  align-self: flex-end;
  gap: 40px;
}

.burger_constructor_total {
  display: flex;
  align-items: center;
  gap: 8px;
}

.end {
  align-self: flex-end;
}

.center {
  display: flex;
  max-height: 53vh;
  overflow-y: auto;
  flex-direction: column;
  gap: 16px;
}